*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
       
}

body{
 overflow: auto;
}
.container{
   height: 100%;
   width: 250px;
   position: absolute;
   background: maroon;
   z-index: 1;
   transition: 0.5s ease;
   transform: translatex(-250px);
}

.container .head{
   color: #fbfdce;
   font-size: 20px;
   font-weight: bold;
   padding: 8px;
   text-transform: uppercase;
   text-align: center;
   letter-spacing: 3px;
   background: linear-gradient(30deg,#df0155,#ed4901)
}

ol{

  width: 100%;
  list-style: none;
   
}

ol li{
   display: block;
   width: 100%;

}
ol li a{
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    letter-spacing: 1px;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
    text-transform: capitalize;
} 

ol li a i{
     width: 70px;
     font-size: 10px;
     text-align: center;
     padding-left: 30px;
} 

ol li:hover a{
     background: #030303;
     color: #00eaff;
     letter-spacing: 5px;

}

input{
-webkit-transform: none;
 visibility: hidden;
 display: none;

}

span{
  position: absolute;
  right: -40px;
  top: 30px;
  font-size: 25px;
  border-radius: 3px;
  color: #fff;
 padding: 3px 8px;
 cursor: pointer;
 background: #000; 

}

#bars{
   width: 40px;        /* fixed width */
  height: 20px;
  background: red;
  font-size: 8px;
  text-align: center;
  font-weight: bold;

}

#check:checked ~ .container{
    transform: translateX(0);
}
 
#check:checked ~ .container #bars{
    display: none;

}




    



